body{
    background-image:url('../Assets/Images/Crumpled-Paper.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.navbar-center{
    text-align: center;
}

.contact-container{
    background-color:white;
}

#contact{
    color:#5bc0de
}

.navbar-light .navbar-brand{
    color:white;
}