body{
    background: linear-gradient(to right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
}

.navbar-center{
    text-align: center;
}

.main-header{
    color:#5bc0de
}

.navbar-light .navbar-brand{
    color:white;
}

.btn.btn-custom{
    border-radius:0;
    padding:10px 20px 10px 20px;
}

.profile-pic{
    height:170px;
    margin:0 10px 10px 0;
    border-radius:50%;
    border:8px solid rgb(213, 170, 127);

}

.profile-pic2{
    height:130px;
    width:110px;
    float:left;
    margin:10px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #292b2c;
    color: white;
    text-align: center;
    border-top:5px solid #5bc0de;
}

.main-container{
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.main-container p{
    color:white;
    font-size:22px;
    font-weight:bold;
}