body{
    background-image:url('../Assets/Images/Crumpled-Paper.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.navbar-center{
    text-align: center;
}

.main-container{
    background-color:white;
}

.main-header{
    color:#5bc0de
}

.navbar-light .navbar-brand{
    color:white;
}

.btn.btn-custom{
    border-radius:0;
    padding:10px 20px 10px 20px;
}

.profile-pic{
    height:150px;
    width:130px;
    float:left;
    margin:10px;
}

.profile-pic2{
    height:130px;
    width:110px;
    float:left;
    margin:10px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    background-color: #292b2c;
    color: white;
    text-align: center;
    border-top:5px solid #5bc0de;
}